In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/amman/Downloads/mail_data.csv")

In [5]:
print(df.head())

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
mail_data = df.where((pd.notnull(df)),'')

In [7]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
mail_data.shape

(5572, 2)

In [9]:
mail_data.replace({'Category':{'spam':0,'ham':1}},inplace=True)

In [10]:
mail_data.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

In [11]:
X = mail_data['Message']
Y = mail_data['Category']

In [12]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [13]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [15]:
X_train.shape,X_test.shape, Y_train.shape, Y_test.shape

((4457,), (1115,), (4457,), (1115,))

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [17]:
print(X_train)

5494    Cool, we shall go and see, have to go to tip a...
947     Ur cash-balance is currently 500 pounds - to m...
4535                      I have no money 4 steve mate! !
1905    Wah... Okie okie... Muz make use of e unlimite...
4785    Indeed and by the way it was either or - not b...
                              ...
2491    Dun b sad.. It's over.. Dun thk abt it already...
4372    Purity of friendship between two is not about ...
2153    Hi kindly give us back our documents which we ...
4756             U wan 2 haf lunch i'm in da canteen now.
1875    Would you like to see my XXX pics they are so ...
Name: Message, Length: 4457, dtype: object

In [18]:
print(X_train_features)

  (0, 4532)	0.30862576385707763
  (0, 4292)	0.2911982636272285
  (0, 6761)	0.2602068693101246
  (0, 6792)	0.2876860806807801
  (0, 3979)	0.3172664895972637
  (0, 3923)	0.22283968175128835
  (0, 2416)	0.3113346600864643
  (0, 3136)	0.1979458502860772
  (0, 3388)	0.21007524481608983
  (0, 6700)	0.4127583485947924
  (0, 5896)	0.28940964450188295
  (0, 1961)	0.2911982636272285
  (1, 7119)	0.25251442183340284
  (1, 6540)	0.2597448642277623
  (1, 293)	0.2597448642277623
  (1, 271)	0.2597448642277623
  (1, 1413)	0.18946177633018524
  (1, 5132)	0.19555516697044692
  (1, 134)	0.24660672024003538
  (1, 1647)	0.24660672024003538
  (1, 4508)	0.16033181877034466
  (1, 304)	0.17254145653483197
  (1, 693)	0.21286085483644948
  (1, 5847)	0.14062298023865297
  (1, 4289)	0.24161182971338557
  :	:
  (4453, 5829)	0.29016636793904743
  (4453, 6084)	0.5627093629874579
  (4453, 2941)	0.27406179374480727
  (4453, 3196)	0.23215961589555198
  (4453, 5462)	0.2935631768389723
  (4453, 3775)	0.15825488633523438
  (4453, 4350)	0.2130542306003098
  (4454, 6251)	0.45571804172450725
  (4454, 6371)	0.45571804172450725
  (4454, 2340)	0.45571804172450725
  (4454, 3836)	0.4194488382860707
  (4454, 4062)	0.3715035592816164
  (4454, 3343)	0.2510198734002891
  (4455, 1599)	0.6077754704780816
  (4455, 3224)	0.4436857232228633
  (4455, 4159)	0.41879531016570715
  (4455, 7156)	0.38599630179942745
  (4455, 2098)	0.33071029568751836
  (4456, 1193)	0.4937039261915743
  (4456, 4609)	0.4707193551850189
  (4456, 7410)	0.34616544584675685
  (4456, 4004)	0.23615850628101528
  (4456, 6911)	0.30481149219191533
  (4456, 5077)	0.36915001685331217
  (4456, 3424)	0.3604116885105113

In [19]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train_features, Y_train)

LogisticRegression()

In [20]:
y_pred=model.predict(X_train_features)

In [21]:
y_pred

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [22]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(Y_train, y_pred)

In [23]:
print(accuracy)

0.9681400044873233

In [24]:
input_mail = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times"]
input_data_features = feature_extraction.transform(input_mail)
prediction = model.predict(input_data_features)
print(prediction)

if (prediction[0]==1):
    print('Ham mail')

else:
    print('Spam mail')

[1]
Ham mail